body {
}

.optionButton {
    width: 140;
    height: 40;
    text-align: center;
}

.options {
    horizontal-align: center;
    height: 50;
    margin-bottom: 30;
}

.forgot-component {
    background-color: white;
    margin-top: 10;
}


.input-image {
    width: 21;
    height: 21;
    margin-left: 5;
    margin-right: 15;
}

/* get password button */
.get-password-button {
    margin-top: 28;
    width: 280;
    height: 50;
    font-size: 20;
}