Page {
    background-color: #FFFFFF;
    font-family: Roboto-Regular;
}

/* Navigation Bar */
.navigationbar {
    vertical-align: top;
    background-color: #8666BC;
}

/* Search Bar */
.searchbar {
    background-color: #7157A0;
}

/* Heading and Top */
.heading
{
    vertical-align: top;
    horizontal-align: center;
    font-size: 20; 
    text-align: center; 
    color: white;
    height: 44;
}

/* Tapable Area for Back Button */
.back-tapableArea {
    horizontal-align: left;
    vertical-align: top;
    width: 60;
}

/* Back Button */
.back-button {
    width: 26;
    height: 26;
    margin-left: 9;
    margin-top: 9;
    vertical-align: top;
    horizontal-align: left;
}

/* Primay Button */
.primaryButtonNormal {
    background-color: #76BD22;
    opacity: 1;
    color: white;
}

.primaryButtonSelected {
    background-color: #76BD22;
    opacity: 0.85;
    color: white;
}

.primaryButtonHighlighted {
    background-color: #76BD22;
    opacity: 0.6;
    color: white;
}

.primaryButtonUnselected {
    background-color: #7A7B7E;
    opacity: 1;
    color: #A9A9A9;
}


/* policy, terms of use and copyright */
.policyTerms {
    horizontal-align: center;
    vertical-align:bottom;
    margin-bottom: 35;
}

.policyTermsButton {
    font-size: 8;
    color: white;
    font-family: Roboto-Bold;
    width: 70;
    height: 30;
    text-align: center;
}

.copyrightText {
    color: white;
    horizontal-align: center;
    vertical-align:bottom;
    margin-bottom: 30;
    font-size: 8;
    font-family: Roboto-Bold;
}

.tool-bar-button {
    background-color: #F2F6F7;
    height: 44;
    margin-top: 10;
}

.tool-bar-button-group {
    width: 228;
}

.link-separator {
    horizontal-align: center;
    height: 10;
    width: 1;
    background-color: #DEDEDE;
}

.link-separator-left {
    margin-right: 80;
}

.link-separator-right {
    margin-left: 77;
}

.linkbutton {
    font-size: 11;
    font-family: Roboto-Medium;
    color: #B2B1B1;
}

.terms-of-use {
    horizontal-align: center;
    margin-right: 155;
}

.privacy-policy {
    horizontal-align: center;
}

.contact-us {
    horizontal-align: center;
    margin-left: 140;
}
