body {

}

/* app logo */
.app-logo
{
    width: 260;
    vertical-align:center;
}

.input-image {
    width: 21;
    height: 21;
    margin-left: 5;
    margin-right: 15;
}

/* login button */
.login-button {
    width: 280;
    height: 50;
    font-size: 20;
}

/* remember me and forgot password */
#lforgotPassword {
    text-align: right; 
    width: 120;
    horizontal-align: right;
}
#lrememberMe {
    text-align: left;
    margin-left: 38;
    width: 90;
    horizontal-align: left;
}
.login-view {
    vertical-align: center;
    width: 280;
}

.login-component {
    background-color: white;
    margin-top: 10;
}

.remember-forgot-components {
    color: white; 
    font-size: 12;
    font-family: Roboto-Bold;
    height: 48;
}

.check-box {
    width: 28;
    height: 28;
    horizontal-align: left;
}