body {
}

/* app logo */
.app-logo
{
    margin-bottom: 30;
    width: 260;
    vertical-align:center;
}

/* input text field and image on right */
.text-input {
    width: 230;
    font-size: 18;
    margin-left: 15;
    background-color: #00E5EE00;
}

.input-image {
    width: 21;
    height: 21;
    margin-left: 5;
    margin-right: 15;
}

/* login button */
.login-button {
    width: 280;
    height: 50;
    font-size: 20;
}

/* error message */
.error-message
{
    font-size: 10; 
    background-color: #EC9700; 
    text-align: center;
}

/* remember me and forgot password */

#lforgotPassword {
    margin: 5 0 5 37;
    text-align: right; 
}
#lrememberMe {
    margin: 5 0 5 5;
    text-align: left;
}

.rememberForgot {
    color: white; 
    font-size: 12;
    font-family: Roboto-Bold;
}
