body {
}

.border {
    border-width: 1;
    border-color: #C0C0C0;
    margin-top: 5;
}

.chart {
    width: 220;
    height: 220;
    margin-top: 10;
    margin-bottom: 10;
}

.mainview {
    vertical-align: top;
    margin-top: 44;
    background-color: white;
}

.separator {
    margin-top: 10;
    margin-bottom: 10;
    background-color: #DEDEDE;
    height: 1;
}

.titleLabel {
    font-size: 14; 
    text-align: left; 
    color: #404040; 
    font-family: Roboto-Light;
    horizontal-align:left;
    vertical-align:top;
    margin-left: 20;  
}

.dataLabel {
    font-size: 14; 
    text-align: right; 
    color: #404040; 
    font-family: Roboto-Regular;
    margin-right: 20;
    horizontal-align:right;
    vertical-align:top;
}

.dateLabel {
    text-align: left;
    font-size: 14;
    color: #404040; 
    font-family: Roboto-Regular;
    margin-top:5;
    margin-bottom:5;
}

.charttitleLabel {
    font-family: Roboto-Light;
}

.chartdataLabel {
    font-family: Roboto-Bold;
}

.chartLabels {
    text-align: center;
    color: #404040; 
    font-size: 11;
}

.chart-labels-area {
    vertical-align: center;
}

.infocell {
    margin-top: 5;
    margin-bottom: 5;
}
.sectionheading {
    font-size: 13; 
    text-align: left; 
    color: #8666BC; 
    font-family: Roboto-Medium;
    margin-bottom: 10;
    margin-top: 5;
    margin-left: 20;
}

.compensation-report-button {
    font-size: 11;  
    color: #76BD23; 
    font-family: Roboto-Medium;
}

.compensation-label {
    font-family: Roboto-Bold;
}

.chart-legend-area {
    margin-top:10;
    margin-bottom:5;
}

.legend-earning {
    background-color: #4284BE;
} 
.legend-earning-label {
    color: #4284BE;
} 

.legend-tax {
    background-color: #E17443;
}
.legend-tax-label {
    color: #E17443;
} 

.legend-deduction {
    background-color: #E89725;
}
.legend-deduction-label {
    color: #E89725;
} 

.legends {
    height: 14;
    width: 14;
    horizontal-align:left;
    vertical-align:top;
}

.legend-label {
    font-size: 12;  
    font-family: Roboto-Light;
    margin-left: 24;
}

.legend-title-label {
    font-size: 12;  
    font-family: Roboto-Light;
    color: #404040;
    margin-left: 24;
}

#datePicker {
    vertical-align: bottom;
    background-color: white;
}

